/*----------------------------------*/
/*---------- Google Fonts ----------*/
/*----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
/*--------------------------------------*/
/*---------- Base Site Styles ----------*/
/*--------------------------------------*/
body,
html {
  font-family: "Anonymous Pro", courier, monospace, serif;
  font-size: 20px;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

a {
  position: relative;
  color: #6872a6;
  text-shadow: 0.03rem 0.03rem 0 #000;
}
a:hover {
  text-decoration: none;
}

.divider {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

/*---------- Fade-Out ----------*/
.fade-out {
  opacity: 0;
}

.load {
  transition: none;
}

/*---------------------------------------*/
/*---------- Navigation Styles ----------*/
/*---------------------------------------*/
#nav-logo {
  margin-top: 0;
  color: #6872a6;
  font-size: 2rem;
  text-shadow: 0.07rem 0.07rem 0 #000;
  transition: text-shadow 0.5s ease;
}
#nav-logo:hover {
  text-shadow: 0.15rem 0.15rem 0 #000;
}

.nav-link {
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
}

#projects-nav {
  margin-right: 1.5rem;
  color: #2d90a6;
}
#projects-nav:after, #projects-nav:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#projects-nav:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#projects-nav:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #2d90a6;
}
#projects-nav:hover:after, #projects-nav:hover:before {
  width: 100%;
}
#projects-nav:hover:before {
  transition: width 0.6s ease;
}
#projects-nav:hover:after {
  transition: width 0.4s ease;
}

#about-nav {
  color: #d9725b;
}
#about-nav:after, #about-nav:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#about-nav:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#about-nav:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #d9725b;
}
#about-nav:hover:after, #about-nav:hover:before {
  width: 100%;
}
#about-nav:hover:before {
  transition: width 0.6s ease;
}
#about-nav:hover:after {
  transition: width 0.4s ease;
}

.navbar-toggler {
  border: none;
}

/*------------------------------------------*/
/*---------- Projects Body Styles ----------*/
/*------------------------------------------*/
.portfolio-card {
  height: auto;
  width: 100%;
  color: white;
}
.portfolio-card .overlay {
  height: auto;
  width: auto;
  z-index: 1;
}
.portfolio-card .overlay .overlay-link {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.portfolio-card p {
  padding-right: 20%;
}
.portfolio-card .thumbnail {
  height: auto;
  width: 80%;
  margin-top: -7rem;
  bottom: -9rem;
  left: 10%;
  box-shadow: 0.5rem 0.5rem 0 #000, 1rem 1rem 2rem #000;
  transition: all 0.5s ease;
}
.portfolio-card:hover .thumbnail {
  bottom: -8rem;
}
.portfolio-card.memory-game {
  background-color: #656b8c;
}
.portfolio-card.memory-game h2 {
  text-shadow: 0.125rem 0.125rem 0 #f23005;
  transition: all 0.5s ease;
}
.portfolio-card.memory-game h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #f23005;
}
.portfolio-card.roast-calc {
  background-color: #2a828c;
}
.portfolio-card.roast-calc h2 {
  text-shadow: 0.125rem 0.125rem 0 #f2784b;
  transition: all 0.5s ease;
}
.portfolio-card.roast-calc h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #f2784b;
}
.portfolio-card.form {
  background-color: #717171;
}
.portfolio-card.form h2 {
  text-shadow: 0.125rem 0.125rem 0 #edca3b;
  transition: all 0.5s ease;
}
.portfolio-card.form h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #edca3b;
}
.portfolio-card:after {
  display: block;
  position: absolute;
  height: 1rem;
  width: 70%;
  bottom: -1rem;
  left: 15%;
  content: "";
  box-shadow: 0 0 1rem #000;
}

#short-about a:after, #short-about a:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#short-about a:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#short-about a:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #6872a6;
}
#short-about a:hover:after, #short-about a:hover:before {
  width: 100%;
}
#short-about a:hover:before {
  transition: width 0.6s ease;
}
#short-about a:hover:after {
  transition: width 0.4s ease;
}

/*---------------------------------------*/
/*---------- About Body Styles ----------*/
/*---------------------------------------*/
#about-intro {
  background-color: #d9725b;
}
#about-intro h2,
#about-intro h3 {
  font-family: "Anonymous Pro", courier, monospace, serif;
  text-shadow: 0.125rem 0.125rem 0 #000;
  transition: all 0.5s ease;
}
#about-intro h2 {
  top: 1.5rem;
  left: 10%;
  font-size: 1.5rem;
  font-weight: 700;
}
#about-intro h3 {
  top: -0.5rem;
  right: 15%;
  font-size: 4rem;
}
#about-intro .thumbnail {
  bottom: -6rem;
  transition: all 0.5s ease;
}
#about-intro:hover h2 {
  top: 1rem;
}
#about-intro:hover h3 {
  top: 5rem;
}
#about-intro:hover .thumbnail {
  bottom: -8rem;
  z-index: 1;
}
#about-intro::after {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  box-shadow: 0 0 1rem #000;
}

#about-text-1 {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  text-align: left;
}
#about-text-1:after {
  position: absolute;
  height: 98%;
  width: 5px;
  top: 0.2rem;
  left: -0.75rem;
  background-color: #6872a6;
  box-shadow: 0.1rem 0.1rem 0 #000;
  transition: box-shadow 0.5s ease;
  content: "";
}
#about-text-1:hover:after {
  box-shadow: 0.2rem 0.2rem 0 #000;
}

#about-text-2 {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
}
#about-text-2:after {
  position: absolute;
  height: 98%;
  width: 5px;
  top: 0.2rem;
  right: -0.75rem;
  background-color: #f2b872;
  box-shadow: -0.1rem 0.1rem 0 #000;
  transition: box-shadow 0.5s ease;
  content: "";
}
#about-text-2:hover:after {
  box-shadow: -0.2rem 0.2rem 0 #000;
}

.about-table {
  position: relative;
  padding-inline-start: 0;
}
.about-table .row {
  position: relative;
  margin: 3rem 0 0;
  padding: 0;
  justify-content: center;
}
.about-table .row div {
  padding: 0;
}
.about-table .job,
.about-table .school {
  margin: 0;
}
.about-table .job span,
.about-table .school span {
  color: #999;
}
.about-table .location,
.about-table .field {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #666;
}
.about-table .date,
.about-table .gpa {
  text-align: right;
}

/*-----------------------------------*/
/*---------- Footer Styles ----------*/
/*-----------------------------------*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.02);
}
footer div {
  align-items: center;
}
footer .footer-links {
  font-size: 1.26rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: text-shadow 0.5s ease;
}

#f-email {
  color: #6872a6;
}
#f-email:after, #f-email:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-email:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-email:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #6872a6;
}
#f-email:hover:after, #f-email:hover:before {
  width: 100%;
}
#f-email:hover:before {
  transition: width 0.6s ease;
}
#f-email:hover:after {
  transition: width 0.4s ease;
}

#f-github {
  color: #2d90a6;
}
#f-github:after, #f-github:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-github:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-github:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #2d90a6;
}
#f-github:hover:after, #f-github:hover:before {
  width: 100%;
}
#f-github:hover:before {
  transition: width 0.6s ease;
}
#f-github:hover:after {
  transition: width 0.4s ease;
}

#f-codepen {
  color: #d9725b;
}
#f-codepen:after, #f-codepen:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-codepen:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-codepen:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #d9725b;
}
#f-codepen:hover:after, #f-codepen:hover:before {
  width: 100%;
}
#f-codepen:hover:before {
  transition: width 0.6s ease;
}
#f-codepen:hover:after {
  transition: width 0.4s ease;
}

/*---------------------------------------------*/
/*---------- Screen Break Formatting ----------*/
/*---------------------------------------------*/
@media only screen and (max-width: 768px) {
  html,
body {
    font-size: 18px;
  }

  #nav-logo {
    font-size: 3rem;
  }

  .footer-links,
.navigation-links {
    font-size: 1.5rem;
  }

  .about-table {
    font-size: 1rem;
  }
  .about-table .location {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  html,
body {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
