/*----------------------------------*/
/*---------- Google Fonts ----------*/
/*----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
/*--------------------------------------*/
/*---------- Base Site Styles ----------*/
/*--------------------------------------*/
body,
html {
  font-family: "Anonymous Pro", courier, monospace, serif;
  font-size: 20px;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

a {
  position: relative;
  color: #6872a6;
  cursor: pointer;
  text-shadow: 0.03rem 0.03rem 0 #000;
}
a:hover {
  text-decoration: none;
}

.divider {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

/*---------- Fade-Out ----------*/
.fade-out {
  opacity: 0;
}

.load {
  transition: none;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.board-border {
  border: 8px solid #fff;
  box-shadow: 0.5em 0.75em 0 #000, 20px 20px 30px rgba(0, 0, 0, 0.75);
}

.board {
  position: relative;
  height: auto;
  width: auto;
  padding: 0.75em;
  background-color: #f2bea0;
  border-left: 5px solid #4d4d4d;
  border-top: 5px solid #262626;
}

.board-row {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.card-display {
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-sizing: cover;
  background-color: #fff;
  text-align: center;
  font-family: courier;
  cursor: default;
  transition: box-shadow 0.2s ease-in, top 0.2s linear, left 0.2s linear;
}

h1#project-main-heading {
  display: inline-block;
  padding: 0;
  color: #656B8C;
  font-family: "Arvo", courier, monospace, serif;
  transform: skew(-3deg) rotate(-3deg);
  grid-area: text;
  text-align: center;
}

#board-overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-centent: flex-start;
  align-items: center;
}

#completed-heading {
  font-family: "Arvo", courier, monospace, serif;
  color: #656B8C;
}

#message-count {
  text-align: center;
}
#message-count span {
  color: #656B8C;
}

#try-again-button {
  position: relative;
  background-color: #404459;
  font-family: "Arvo", serif;
  color: #fff;
  border: 5px solid #fff;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.2s ease-in;
}
#try-again-button:hover {
  box-shadow: 5px 5px 2px #000;
}
#try-again-button:focus {
  outline: none;
}

.wiggle {
  animation: wiggle-animation 0.75s ease 0.3s;
}

@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7.25deg);
  }
  50% {
    transform: rotate(7.25deg);
  }
  90% {
    transform: rotate(-3.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*---------------------------------------*/
/*---------- Navigation Styles ----------*/
/*---------------------------------------*/
#nav-logo {
  margin-top: 0;
  color: #6872a6;
  font-size: 2rem;
  text-shadow: 0.07rem 0.07rem 0 #000;
  transition: text-shadow 0.5s ease;
}
#nav-logo:hover {
  text-shadow: 0.15rem 0.15rem 0 #000;
}

.nav-link {
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
}

#projects-nav {
  margin-right: 1.5rem;
  color: #2d90a6;
}
#projects-nav:after, #projects-nav:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#projects-nav:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#projects-nav:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #2d90a6;
}
#projects-nav:hover:after, #projects-nav:hover:before {
  width: 100%;
}
#projects-nav:hover:before {
  transition: width 0.6s ease;
}
#projects-nav:hover:after {
  transition: width 0.4s ease;
}

#about-nav {
  color: #d9725b;
}
#about-nav:after, #about-nav:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#about-nav:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#about-nav:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #d9725b;
}
#about-nav:hover:after, #about-nav:hover:before {
  width: 100%;
}
#about-nav:hover:before {
  transition: width 0.6s ease;
}
#about-nav:hover:after {
  transition: width 0.4s ease;
}

.navbar-toggler {
  border: none;
}

/*------------------------------------------*/
/*---------- Projects Body Styles ----------*/
/*------------------------------------------*/
.portfolio-card {
  height: auto;
  width: 100%;
  color: white;
}
.portfolio-card .overlay {
  height: auto;
  width: auto;
  z-index: 1;
}
.portfolio-card .overlay .overlay-link {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.portfolio-card p {
  padding-right: 20%;
}
.portfolio-card .thumbnail {
  height: auto;
  width: 80%;
  margin-top: -7rem;
  bottom: -9rem;
  left: 10%;
  box-shadow: 0.5rem 0.5rem 0 #000, 1rem 1rem 2rem #000;
  transition: all 0.5s ease;
}
.portfolio-card:hover .thumbnail {
  bottom: -8rem;
}
.portfolio-card.memory-game {
  background-color: #656b8c;
}
.portfolio-card.memory-game h2 {
  text-shadow: 0.125rem 0.125rem 0 #f23005;
  transition: all 0.5s ease;
}
.portfolio-card.memory-game h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #f23005;
}
.portfolio-card.roast-calc {
  background-color: #2a828c;
}
.portfolio-card.roast-calc h2 {
  text-shadow: 0.125rem 0.125rem 0 #f2784b;
  transition: all 0.5s ease;
}
.portfolio-card.roast-calc h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #f2784b;
}
.portfolio-card.form {
  background-color: #717171;
}
.portfolio-card.form h2 {
  text-shadow: 0.125rem 0.125rem 0 #edca3b;
  transition: all 0.5s ease;
}
.portfolio-card.form h2.js-hover {
  text-shadow: 0.2rem 0.2rem 0 #edca3b;
}
.portfolio-card:after {
  display: block;
  position: absolute;
  height: 1rem;
  width: 70%;
  bottom: -1rem;
  left: 15%;
  content: "";
  box-shadow: 0 0 1rem #000;
}

#short-about a:after, #short-about a:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#short-about a:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#short-about a:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #6872a6;
}
#short-about a:hover:after, #short-about a:hover:before {
  width: 100%;
}
#short-about a:hover:before {
  transition: width 0.6s ease;
}
#short-about a:hover:after {
  transition: width 0.4s ease;
}

/*---------------------------------------*/
/*---------- About Body Styles ----------*/
/*---------------------------------------*/
#about-intro {
  background-color: #d9725b;
}
#about-intro h2,
#about-intro h3 {
  font-family: "Anonymous Pro", courier, monospace, serif;
  text-shadow: 0.125rem 0.125rem 0 #000;
  transition: all 0.5s ease;
}
#about-intro h2 {
  top: 1.5rem;
  left: 10%;
  font-size: 1.5rem;
  font-weight: 700;
}
#about-intro h3 {
  top: -0.5rem;
  right: 15%;
  font-size: 4rem;
}
#about-intro .thumbnail {
  bottom: -6rem;
  transition: all 0.5s ease;
}
#about-intro:hover h2 {
  top: 1rem;
}
#about-intro:hover h3 {
  top: 5rem;
}
#about-intro:hover .thumbnail {
  bottom: -8rem;
  z-index: 1;
}
#about-intro::after {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  box-shadow: 0 0 1rem #000;
}

#about-text-1 {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  text-align: left;
}
#about-text-1:after {
  position: absolute;
  height: 98%;
  width: 5px;
  top: 0.2rem;
  left: -0.75rem;
  background-color: #6872a6;
  box-shadow: 0.1rem 0.1rem 0 #000;
  transition: box-shadow 0.5s ease;
  content: "";
}
#about-text-1:hover:after {
  box-shadow: 0.2rem 0.2rem 0 #000;
}

#about-text-2 {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
}
#about-text-2:after {
  position: absolute;
  height: 98%;
  width: 5px;
  top: 0.2rem;
  right: -0.75rem;
  background-color: #f2b872;
  box-shadow: -0.1rem 0.1rem 0 #000;
  transition: box-shadow 0.5s ease;
  content: "";
}
#about-text-2:hover:after {
  box-shadow: -0.2rem 0.2rem 0 #000;
}

.about-table {
  position: relative;
  padding-inline-start: 0;
}
.about-table .row {
  position: relative;
  margin: 3rem 0 0;
  padding: 0;
  justify-content: center;
}
.about-table .row div {
  padding: 0;
}
.about-table .job,
.about-table .school {
  margin: 0;
}
.about-table .job span,
.about-table .school span {
  color: #999;
}
.about-table .field,
.about-table .location {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #666;
}
.about-table .date,
.about-table .gpa {
  text-align: right;
}

/*------------------------------------------------*/
/*---------- Project Page - Memory Game ----------*/
/*------------------------------------------------*/
.project-wrapper {
  /*----------------------------------*/
  /*---------- Google Fonts ----------*/
  /*----------------------------------*/
  @import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
  /*--------------------------------------*/
  /*---------- Base Site Styles ----------*/
  /*--------------------------------------*/
  /*---------- Fade-Out ----------*/
  background-color: #404459;
  background-image: radial-gradient(circle at 50%, #656B8C 0, #404459 100%);
}
.project-wrapper body,
.project-wrapper html {
  font-family: "Anonymous Pro", courier, monospace, serif;
  font-size: 20px;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
}
.project-wrapper html {
  height: 100vh;
  width: 100vw;
}
.project-wrapper body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}
.project-wrapper h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}
.project-wrapper h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}
.project-wrapper a {
  position: relative;
  color: #6872a6;
  cursor: pointer;
  text-shadow: 0.03rem 0.03rem 0 #000;
}
.project-wrapper a:hover {
  text-decoration: none;
}
.project-wrapper .divider {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.project-wrapper .fade-out {
  opacity: 0;
}
.project-wrapper .load {
  transition: none;
}
.project-wrapper .flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.project-wrapper .flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.project-wrapper .unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.project-wrapper .board-border {
  border: 8px solid #fff;
  box-shadow: 0.5em 0.75em 0 #000, 20px 20px 30px rgba(0, 0, 0, 0.75);
}
.project-wrapper .board {
  position: relative;
  height: auto;
  width: auto;
  padding: 0.75em;
  background-color: #f2bea0;
  border-left: 5px solid #4d4d4d;
  border-top: 5px solid #262626;
}
.project-wrapper .board-row {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
.project-wrapper .card-display {
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-sizing: cover;
  background-color: #fff;
  text-align: center;
  font-family: courier;
  cursor: default;
  transition: box-shadow 0.2s ease-in, top 0.2s linear, left 0.2s linear;
}
.project-wrapper h1#project-main-heading {
  display: inline-block;
  padding: 0;
  color: #656B8C;
  font-family: "Arvo", courier, monospace, serif;
  transform: skew(-3deg) rotate(-3deg);
  grid-area: text;
  text-align: center;
}
.project-wrapper #board-overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-centent: flex-start;
  align-items: center;
}
.project-wrapper #completed-heading {
  font-family: "Arvo", courier, monospace, serif;
  color: #656B8C;
}
.project-wrapper #message-count {
  text-align: center;
}
.project-wrapper #message-count span {
  color: #656B8C;
}
.project-wrapper #try-again-button {
  position: relative;
  background-color: #404459;
  font-family: "Arvo", serif;
  color: #fff;
  border: 5px solid #fff;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.2s ease-in;
}
.project-wrapper #try-again-button:hover {
  box-shadow: 5px 5px 2px #000;
}
.project-wrapper #try-again-button:focus {
  outline: none;
}
.project-wrapper .wiggle {
  animation: wiggle-animation 0.75s ease 0.3s;
}
@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7.25deg);
  }
  50% {
    transform: rotate(7.25deg);
  }
  90% {
    transform: rotate(-3.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.project-wrapper .project-title {
  font-size: 12px;
}
.project-wrapper .project {
  font-size: 12px;
}

.code-tab {
  padding: 1rem;
}

/*-----------------------------------*/
/*---------- Footer Styles ----------*/
/*-----------------------------------*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.02);
}
footer div {
  align-items: center;
}
footer .footer-links {
  font-size: 1.26rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: text-shadow 0.5s ease;
}

#f-email {
  color: #6872a6;
}
#f-email:after, #f-email:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-email:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-email:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #6872a6;
}
#f-email:hover:after, #f-email:hover:before {
  width: 100%;
}
#f-email:hover:before {
  transition: width 0.6s ease;
}
#f-email:hover:after {
  transition: width 0.4s ease;
}

#f-github {
  color: #2d90a6;
}
#f-github:after, #f-github:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-github:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-github:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #2d90a6;
}
#f-github:hover:after, #f-github:hover:before {
  width: 100%;
}
#f-github:hover:before {
  transition: width 0.6s ease;
}
#f-github:hover:after {
  transition: width 0.4s ease;
}

#f-codepen {
  color: #d9725b;
}
#f-codepen:after, #f-codepen:before {
  position: absolute;
  height: 5px;
  width: 0;
  margin-top: 5px;
  transition: width 0.5s ease;
  content: "";
}
#f-codepen:before {
  bottom: -7px;
  left: 2.5px;
  border-bottom: 3px solid #000;
}
#f-codepen:after {
  bottom: -5px;
  left: 0;
  border-bottom: 3px solid #d9725b;
}
#f-codepen:hover:after, #f-codepen:hover:before {
  width: 100%;
}
#f-codepen:hover:before {
  transition: width 0.6s ease;
}
#f-codepen:hover:after {
  transition: width 0.4s ease;
}

/*---------------------------------------------*/
/*---------- Screen Break Formatting ----------*/
/*---------------------------------------------*/
@media only screen and (min-width: 992px) {
  .card-display {
    height: 5vw;
    width: 5vw;
    margin: 0.7vw;
    font-size: 4vw;
    border: 0.35vw solid #fff;
    border-radius: 1.1666666667vw;
    background-size: 9vw 9vw;
    box-shadow: 0.35vw 0.35vw 0 #000;
  }
  .card-display.hover {
    top: -0.14vw;
    left: -0.14vw;
    box-shadow: 0.4666666667vw 0.4666666667vw 0.35vw #000;
  }

  .card-flipped {
    border: 0.35vw solid #000;
    box-shadow: 0.35vw 0.35vw 0.2333333333vw #8448D9, -0.35vw -0.35vw 0.2333333333vw #D53A33;
  }

  h1#project-main-heading {
    font-size: 2.3333333333vw;
    text-shadow: 0.175vw 0.175vw 0 #F2BEA0, -0.175vw -0.175vw 0 #D53A33, 20px 20px 30px rgba(0, 0, 0, 0.9);
  }
  h1#project-main-heading span {
    font-size: 2.8vw;
  }

  #completed-heading {
    margin: 1.75vw;
    font-size: 2.3333333333vw;
    text-shadow: 0.175vw 0.175vw 0 #fff, -0.175vw -0.175vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #message-count {
    margin-top: 1.75vw;
    font-size: 1.4vw;
  }
  #message-count span {
    font-size: 2.3333333333vw;
    text-shadow: 0.175vw 0.175vw 0 #fff, -0.175vw -0.175vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #try-again-button {
    margin-top: 1.75vw;
    padding: 0.7vw;
    font-size: 1.1666666667vw;
  }
  #try-again-button:hover {
    text-shadow: 0.14vw 0.14vw #000, 10px 10px 10px rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 991px) {
  .card-display {
    height: 7vw;
    width: 7vw;
    margin: 0.9vw;
    font-size: 6vw;
    border: 0.45vw solid #fff;
    border-radius: 1.5vw;
    background-size: 11vw 11vw;
    box-shadow: 0.45vw 0.45vw 0 #000;
  }
  .card-display.hover {
    top: -0.18vw;
    left: -0.18vw;
    box-shadow: 0.6vw 0.6vw 0.45vw #000;
  }

  .card-flipped {
    border: 0.45vw solid #000;
    box-shadow: 0.45vw 0.45vw 0.3vw #8448D9, -0.45vw -0.45vw 0.3vw #D53A33;
  }

  h1#project-main-heading {
    font-size: 3vw;
    text-shadow: 0.225vw 0.225vw 0 #F2BEA0, -0.225vw -0.225vw 0 #D53A33, 20px 20px 30px rgba(0, 0, 0, 0.9);
  }
  h1#project-main-heading span {
    font-size: 3.6vw;
  }

  #completed-heading {
    margin: 2.25vw;
    font-size: 3vw;
    text-shadow: 0.225vw 0.225vw 0 #fff, -0.225vw -0.225vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #message-count {
    margin-top: 2.25vw;
    font-size: 1.8vw;
  }
  #message-count span {
    font-size: 3vw;
    text-shadow: 0.225vw 0.225vw 0 #fff, -0.225vw -0.225vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #try-again-button {
    margin-top: 2.25vw;
    padding: 0.9vw;
    font-size: 1.5vw;
  }
  #try-again-button:hover {
    text-shadow: 0.18vw 0.18vw #000, 10px 10px 10px rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 767px) {
  body,
html {
    font-size: 18px;
  }

  #nav-logo {
    font-size: 3rem;
  }

  .footer-links,
.navigation-links {
    font-size: 1.5rem;
  }

  .about-table {
    font-size: 1rem;
  }
  .about-table .location {
    font-size: 0.9rem;
  }

  .card-display {
    height: 10vw;
    width: 10vw;
    margin: 1.2vw;
    font-size: 9vw;
    border: 0.6vw solid #fff;
    border-radius: 2vw;
    background-size: 14vw 14vw;
    box-shadow: 0.6vw 0.6vw 0 #000;
  }
  .card-display.hover {
    top: -0.24vw;
    left: -0.24vw;
    box-shadow: 0.8vw 0.8vw 0.6vw #000;
  }

  .card-flipped {
    border: 0.6vw solid #000;
    box-shadow: 0.6vw 0.6vw 0.4vw #8448D9, -0.6vw -0.6vw 0.4vw #D53A33;
  }

  h1#project-main-heading {
    font-size: 4vw;
    text-shadow: 0.3vw 0.3vw 0 #F2BEA0, -0.3vw -0.3vw 0 #D53A33, 20px 20px 30px rgba(0, 0, 0, 0.9);
  }
  h1#project-main-heading span {
    font-size: 4.8vw;
  }

  #completed-heading {
    margin: 3vw;
    font-size: 4vw;
    text-shadow: 0.3vw 0.3vw 0 #fff, -0.3vw -0.3vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #message-count {
    margin-top: 3vw;
    font-size: 2.4vw;
  }
  #message-count span {
    font-size: 4vw;
    text-shadow: 0.3vw 0.3vw 0 #fff, -0.3vw -0.3vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #try-again-button {
    margin-top: 3vw;
    padding: 1.2vw;
    font-size: 2vw;
  }
  #try-again-button:hover {
    text-shadow: 0.24vw 0.24vw #000, 10px 10px 10px rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 575px) {
  body,
html {
    font-size: 16px;
  }

  .card-display {
    height: 12vw;
    width: 12vw;
    margin: 1.4vw;
    font-size: 11vw;
    border: 0.7vw solid #fff;
    border-radius: 2.3333333333vw;
    background-size: 16vw 16vw;
    box-shadow: 0.7vw 0.7vw 0 #000;
  }
  .card-display.hover {
    top: -0.28vw;
    left: -0.28vw;
    box-shadow: 0.9333333333vw 0.9333333333vw 0.7vw #000;
  }

  .card-flipped {
    border: 0.7vw solid #000;
    box-shadow: 0.7vw 0.7vw 0.4666666667vw #8448D9, -0.7vw -0.7vw 0.4666666667vw #D53A33;
  }

  h1#project-main-heading {
    font-size: 4.6666666667vw;
    text-shadow: 0.35vw 0.35vw 0 #F2BEA0, -0.35vw -0.35vw 0 #D53A33, 20px 20px 30px rgba(0, 0, 0, 0.9);
  }
  h1#project-main-heading span {
    font-size: 5.6vw;
  }

  #completed-heading {
    margin: 3.5vw;
    font-size: 4.6666666667vw;
    text-shadow: 0.35vw 0.35vw 0 #fff, -0.35vw -0.35vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #message-count {
    margin-top: 3.5vw;
    font-size: 2.8vw;
  }
  #message-count span {
    font-size: 4.6666666667vw;
    text-shadow: 0.35vw 0.35vw 0 #fff, -0.35vw -0.35vw 0 #F23005, 5px 10px 10px rgba(0, 0, 0, 0.9);
  }

  #try-again-button {
    margin-top: 3.5vw;
    padding: 1.4vw;
    font-size: 2.3333333333vw;
  }
  #try-again-button:hover {
    text-shadow: 0.28vw 0.28vw #000, 10px 10px 10px rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 350px) {
  body,
html {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
