/*----------------------------------*/
/*---------- Google Fonts ----------*/
/*----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
/*--------------------------------------*/
/*---------- Base Site Styles ----------*/
/*--------------------------------------*/
body,
html {
  font-family: "Anonymous Pro", courier, serif;
  font-size: 20px;
  color: #000;
  background-color: #f2f2f2;
}

body {
  opacity: 1;
  transition: all 0.5s ease;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

a:hover {
  text-decoration: none;
}

/*---------- Fade-Out ----------*/
.fade-out {
  opacity: 0;
}

.load {
  transition: none;
}

/*---------------------------------------*/
/*---------- Navigation Styles ----------*/
/*---------------------------------------*/
#nav-logo {
  margin-top: 0;
  color: #6872a6;
  font-size: 2rem;
  text-shadow: 0.07rem 0.07rem 0 #000;
  transition: text-shadow 0.5s ease;
}
#nav-logo:hover {
  text-shadow: 0.15rem 0.15rem 0 #000;
}

.navigation-links {
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: text-shadow 0.5s ease;
}
.navigation-links:hover {
  text-shadow: 0.1rem 0.1rem 0 #000;
}

#projects-nav {
  margin-right: 1rem;
  color: #2d90a6;
}

#about-nav {
  color: #d9725b;
}

/*------------------------------------------*/
/*---------- Projects Body Styles ----------*/
/*------------------------------------------*/
.portfolio-card {
  height: auto;
  width: 100%;
  color: white;
}
.portfolio-card .overlay {
  height: auto;
  width: auto;
  z-index: 1;
}
.portfolio-card .overlay .overlay-link {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.portfolio-card .thumbnail {
  height: auto;
  width: 80%;
  margin-top: -7rem;
  bottom: -9rem;
  left: 10%;
  transition: all 0.5s ease;
  box-shadow: 0.5rem 0.5rem 0 #000, 1rem 1rem 2rem #000;
}
.portfolio-card:hover .thumbnail {
  bottom: -8rem;
}
.portfolio-card.memory-game {
  background-color: #656b8c;
}
.portfolio-card.memory-game h2 {
  text-shadow: 0.125rem 0.125rem 0 #f23005;
  transition: all 0.5s ease;
}
.portfolio-card.memory-game h2.hover {
  text-shadow: 0.175rem 0.175rem 0 #f23005;
}
.portfolio-card.roast-calc {
  background-color: #2a828c;
}
.portfolio-card.roast-calc h2 {
  text-shadow: 0.125rem 0.125rem 0 #f2784b;
  transition: all 0.5s ease;
}
.portfolio-card.roast-calc h2.hover {
  text-shadow: 0.175rem 0.175rem 0 #f2784b;
}
.portfolio-card.form {
  background-color: #717171;
}
.portfolio-card.form h2 {
  text-shadow: 0.125rem 0.125rem 0 #edca3b;
  transition: all 0.5s ease;
}
.portfolio-card.form h2.hover {
  text-shadow: 0.175rem 0.175rem 0 #edca3b;
}
.portfolio-card::after {
  display: block;
  position: absolute;
  height: 1rem;
  width: 70%;
  bottom: -1rem;
  left: 15%;
  content: "";
  box-shadow: 0 0 1rem #000;
}

/*-----------------------------------*/
/*---------- Footer Styles ----------*/
/*-----------------------------------*/
footer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.02);
}

.footer-links {
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: text-shadow 0.5s ease;
}

.footer-links:hover {
  text-shadow: 0.05rem 0.05rem 0 #666666, 0.075em 0.075rem 0 #333333, 0.1em 0.1rem 0 #000;
}

#f-email {
  color: #6872a6;
}

#f-codepen {
  color: #d9725b;
}

/*# sourceMappingURL=styles.css.map */
