@use 'colors'; // Color Variables
@use 'fonts'; // Google Fonts and Font-Variables
/*--------------------------------------*/
/*---------- Base Site Styles ----------*/
/*--------------------------------------*/
body,
html {
  font-family: fonts.$anonymous;
  font-size: 20px;
  color: #000;
  background-color: colors.$white-ish;
}

body {
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

h1 {
  font-family: fonts.$raleway;
  font-weight: 800;
}

a {
  color: colors.$dark-blue;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: all 0.4s ease;

  &:hover {
    text-decoration: none;
    text-shadow: 0.06rem 0.06rem 0 #000;
  }
}
/*---------- Fade-Out ----------*/
.fade-out {
  opacity: 0;
}

.load {
  transition: none;
}
