// Main-Page Colors
$white-ish: #f2f2f2;
$dark-blue: #6872a6;
$teal: #2d90a6;
$yellow: #f2b872;
$orange: #d9725b;
$really-really-see-through-black: rgba(0, 0, 0, 0.02);

// Memory Game Colors
$memory-purple: #656b8c;
$memory-red: #f23005;
$memory-tan: #f2bea0;

// Roast Calculator Colors
$roast-teal: #2a828c;
$roast-orange: #f2784b;

// Input Form Colors
$form-grey: #717171;
$form-yellow: #edca3b;
