@mixin about {
  /*---------------------------------------*/
  /*---------- About Body Styles ----------*/
  /*---------------------------------------*/
  #about {
    /*---------- Card that displays the image of MEEEE! ----------*/
    #about-intro {
      background-color: colors.$orange;

      /*---------- h2='Hello There' // h3=up-arrows ----------*/
      h2,
      h3 {
        font-family: fonts.$anonymous;
        text-shadow: 0.125rem 0.125rem 0 #000;
        transition: all 0.5s ease;
      }

      h2 {
        top: 1.5rem;
        left: 10%;
        font-size: 1.5rem;
        font-weight: 700;
      }

      h3 {
        top: -0.5rem;
        right: 15%;
        font-size: 4rem;
      }

      /*---------- Photo of meh ----------*/
      .thumbnail {
        bottom: -6rem;
        transition: all 0.5s ease;
      }

      &:hover {
        h2 {
          top: 1rem;
        }

        h3 {
          top: 5rem;
        }

        .thumbnail {
          bottom: -8rem;
          z-index: 1;
        }
      }
      /*---------- Overlay covers the card so you can not select anything in it ----------*/
      &::after {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: '';
        box-shadow: 0 0 1rem #000;
      }
    }

    /*---------- Paragraph #1 in the about me section ----------*/
    #about-text-1 {
      @include paragraph-accent-line(colors.$dark-blue, "left", 0.1, 0.1);
    }

    /*---------- Paragraph #2 in the about me section ----------*/
    #about-text-2 {
      @include paragraph-accent-line(colors.$yellow, "right", -0.1 , 0.1);
    }

    /*---------- Table for my "mini" resume ----------*/
    .about-table {
      position: relative;
      padding-inline-start: 0;

      .row {
        position: relative;
        margin: 3rem 0 0;
        padding: 0;
        justify-content: center;

        div {
          padding: 0;
        }
      }

      .job,
      .school {
        margin: 0;

        span {
          color: #999;
        }
      }

      .field,
      .location {
        font-family: fonts.$raleway;
        font-weight: 600;
        font-size: 0.9rem;
        color: #666;
      }

      .date,
      .gpa {
        text-align: right;
      }
    }
  }
}
