footer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.02);
}

.footer-links {
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
  transition: text-shadow 0.5s ease;
}

.footer-links:hover {
  text-shadow:
    0.05rem 0.05rem 0 #666666,
    0.075em 0.075rem 0 #333333,
    0.1em 0.1rem 0 #000
}

#f-email {
  color: #6872a6;
}

#f-codepen {
  color: #d9725b;
}
