@mixin memory-game {
  /*----------------------------------------*/
  /*---------- Memory Game Styles ----------*/
  /*----------------------------------------*/
  #memory {
    /*---------- Project AND Project Title Styles ----------*/
    background-color: #404459;
    background-image: radial-gradient(circle at 50%, #656B8C 0, #404459 100%);

    .flex-column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .flex-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    .unselectable {
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */
    }

    /*---------- This is just a border that gives the "game board" a 3-d feel to it ----------*/
    .board-border {
      border: 8px solid #fff;
      box-shadow: 0.5em 0.75em 0 #000, 20px 20px 30px rgba(0, 0, 0, 0.75);
    }

    /*---------- Container where the game is generated ----------*/
    .board {
      position: relative;
      height: auto;
      width: auto;
      padding: 0.75em;
      background-color: colors.$memory-tan;
      border-left: 5px solid #4d4d4d; // Light-grey line
      border-top: 5px solid #262626; // Dark-grey line
    }

    /*---------- Every card is in a row of x-number of cards ----------*/
    .board-row {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
    }

    /*---------- Style for each individual card generated ----------*/
    .card-display {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-sizing: cover;
      background-color: #fff;
      text-align: center;
      font-family: monospace;
      cursor: default;
      transition: box-shadow 0.2s ease-in, top 0.2s linear, left 0.2s linear;
    }

    /*---------- BIG Title text in the game ----------*/
    h1#project-main-heading {
      display: inline-block;
      padding: 0;
      color: #656B8C;
      font-family: fonts.$arvo;
      transform: skew(-3deg) rotate(-3deg);
      grid-area: text;
      text-align: center;
    }

    /*---------- When you complete the game, this overlay covers up the board ----------*/
    #board-overlay {
      position: absolute;
      display: flex;
      flex-flow: column nowrap;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      justify-centent: flex-start;
      align-items: center;
    }

    /*---------- Header text in the "complete" screenb ----------*/
    #completed-heading {
      font-family: fonts.$arvo;
      color: #656B8C;
    }

    /*---------- How many atempts it took ----------*/
    #message-count {
      text-align: center;

      span {
        color: #656B8C;
      }
    }

    #try-again-button {
      position: relative;
      background-color: #404459;
      font-family: 'Arvo', serif;
      color: #fff;
      border: 2px solid #fff;
      box-shadow: 3px 3px 0 #000;
      transition: all 0.2s ease-in;

      &:hover {
        box-shadow: 5px 5px 2px #000;
      }

      &:focus {
        outline: none;
      }
    }

    /*---------- Wiggle animation when you select two of the same card ----------*/
    .wiggle {
      animation: wiggle-animation 0.75s ease 0.3s;
    }
    @keyframes wiggle-animation {
      0% {
        transform: rotate(0deg);
      }

      20% {
        transform: rotate(-7.25deg);
      }

      50% {
        transform: rotate(7.25deg);
      }

      90% {
        transform: rotate(-3.25deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }
}
