@use 'colors'; // Color Variables
// Individual Card Styles //
@mixin card-style ($card) {
  $primary-color: #000; // Declare color variables...
  $secondary-color: #000;
  // If memory-game...
  @if $card == 'memory' {
    $primary-color: colors.$memory-purple;
    $secondary-color: colors.$memory-red;
  }
  // If roast-calculator...
  @if $card == 'roast' {
    $primary-color: colors.$roast-teal;
    $secondary-color: colors.$roast-orange;
  }
  // If input form ...
  @if $card == 'form' {
    $primary-color: colors.$form-grey;
    $secondary-color: colors.$form-yellow;
  }
  // Portfolio Card Backgrouond Color...
  background-color: $primary-color;
  // Portfolio Card h2 Text-Shadow...
  h2 {
    text-shadow: 0.125rem 0.125rem 0 $secondary-color;
    transition: all 0.5s ease;
    //Individual card "h2" Styles when parent "portfolio-card" is hover
    &.hover {
      text-shadow: 0.175rem 0.175rem 0 $secondary-color;
    }
  }
}
