@use 'colors'; // Color Variables
////////// Link "Underline" Styles //////////
@mixin link-underline ($color) {
  &:after,
  &:before {
    position: absolute;
    height: 3px;
    width: 0;
    margin-top: 5px;
    transition: width 0.5s ease;
    content: '';
  }

  &:before {
    bottom: -7px;
    left: 2.5px;
    background-color: #000;
  }

  &:after {
    bottom: -5px;
    left: 0;
    background-color: $color;
  }

  &:hover {
    &:after,
    &:before {
      width: 100%;
    }

    &:before {
      transition: width 0.6s ease;
    }

    &:after {
      transition: width 0.4s ease;
    }
  }
}
////////// ACTIVE Link "Underline" Styles //////////
@mixin active-link-underline ($color) {
  &:after,
  &:before {
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    content: '';
  }
  &:before {
    bottom: -7px;
    left: 2.5px;
    background-color: #000;
    transition: width 0.6s ease;
  }

  &:after {
    bottom: -5px;
    left: 0;
    background-color: $color;
    transition: width 0.4s ease;
  }
}
////////// Paragraph Accent Line //////////
@mixin paragraph-accent-line ($color, $position, $shadow-vert, $shadow-hor) {
  margin-#{$position}: 0.5rem; // Left OR Right Margin
  padding-#{$position}: 0.5rem; // Left OR Right Padding
  text-align: #{$position}; // Left OR Right

  &:after {
    position: absolute;
    height: 98%;
    width: 5px;
    top: 0.2rem;
    #{$position}: -0.75rem; // Left OR Right position
    background-color: $color;
    box-shadow: $shadow-vert+rem $shadow-hor+rem 0 #000;
    transition: box-shadow 0.5s ease;
    content: '';
  }

  &:hover:after {
    box-shadow: $shadow-vert*2rem $shadow-hor*2rem 0 #000;
  }
}
////////// Individual Card Styles ////////////
@mixin card-style ($card) {
  $primary-color: #000; // Declare color variables...
  $secondary-color: #000;
  // If memory-game...
  @if $card == 'memory' {
    $primary-color: colors.$memory-purple;
    $secondary-color: colors.$memory-red;
  }
  // If roast-calculator...
  @if $card == 'roast' {
    $primary-color: colors.$roast-teal;
    $secondary-color: colors.$roast-orange;
  }
  // If input form ...
  @if $card == 'form' {
    $primary-color: colors.$form-grey;
    $secondary-color: colors.$form-yellow;
  }
  // Portfolio Card Background Color...
  background-color: $primary-color;
  // Portfolio Card h2 Text-Shadow...
  h2 {
    text-shadow: 0.125rem 0.125rem 0 $secondary-color;
    transition: all 0.5s ease;
    //Individual card "h2" Styles when parent "portfolio-card" is hover
    &.js-hover {
      // Hover class added in javascript
      text-shadow: 0.2rem 0.2rem 0 $secondary-color;
    }
  }
}
