// Small Screen
@mixin screen-breaks {
  ////////// < Large Breakpoint //////////
  @media only screen and (max-width: 992px) {}
  ////////// < Medium Breakpoint //////////
  @media only screen and (max-width: 768px) {
    html,
    body {
      font-size: 18px;
    }

    #nav-logo {
      font-size: 3rem;
    }

    .footer-links,
    .navigation-links {
      font-size: 1.5rem;
    }
    // About Page Table Content //
    .about-table {
      font-size: 1rem;

      .location {
        font-size: 0.9rem;
      }
    }
  }
  ////////// < Small Breakpoint //////////
  @media only screen and (max-width: 576px) {
    html,
    body {
      font-size: 16px;
    }
  }
}
