@use 'base'; // Global Styles
@use 'fonts'; // Google Fonts and Font-Variables
@use 'colors'; // Color Variables
@import 'about';
@import 'memory-game'; // Memory-Game Specific CSS Mixin
@import 'roast-calc'; // Roast-Calc Specific CSS Mixin
@import 'input-form'; // Input form Specific CSS Mixin
@import 'mixins'; // Portfolio Card Mixin
@import 'global-screen-breaks'; // Site Wide Screen Break Mixin
@import 'memory-screen-breaks'; // Memory Game Screen Break Mixin
@import 'roast-screen-breaks'; // Roast Calc Screen Break Mixin
/*---------------------------------------*/
/*---------- Navigation Styles ----------*/
/*---------------------------------------*/
#nav-logo {
  margin-top: 0;
  color: colors.$dark-blue;
  font-size: 2rem;
  text-shadow: 0.07rem 0.07rem 0 #000;
  transition: text-shadow 0.5s ease;
  // On Hover...
  &:hover {
    text-shadow: 0.15rem 0.15rem 0 #000;
  }
}

.nav-link {
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
}

#projects-nav {
  margin-right: 1.5rem;
  color: colors.$teal;
  @include link-underline (colors.$teal); // Mixin to add the animated underline effect

  &.active {
    @include active-link-underline (colors.$teal); // Mixin to add an underline for the active code tab
  }
}

#about-nav {
  color: colors.$orange;
  @include link-underline (colors.$orange); // Mixin to add the animated underline effect

  &.active {
    @include active-link-underline (colors.$orange); // Mixin to add an underline for the active code tab
  }
}

.navbar-toggler {
  border: none; // ¡Get rid of that dang border!
}
/*------------------------------------------*/
/*---------- Projects Body Styles ----------*/
/*------------------------------------------*/
.portfolio-card {
  height: auto;
  width: 100%;
  color: white;

  .overlay {
    height: auto;
    width: auto;
    z-index: 1;

    .overlay-link {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  p {
    padding-right: 20%;
  }

  .thumbnail {
    height: auto;
    width: 80%;
    margin-top: -7rem;
    bottom: -9rem;
    left: 10%;
    box-shadow: 0.5rem 0.5rem 0 #000, 1rem 1rem 2rem #000;
    transition: all 0.5s ease;
  }

  &:hover .thumbnail {
    bottom: -8rem;
  }
  // Individual Card Styles //
  &.memory-game {
    @include card-style ('memory');
  }

  &.roast-calc {
    @include card-style ('roast');
  }

  &.form {
    @include card-style ('form');
  }
  // Shadow at the bottom  of the card to add a 'pocket' effect...
  &:after {
    display: block;
    position: absolute;
    height: 1rem;
    width: 70%;
    bottom: -1rem;
    left: 15%;
    content: '';
    box-shadow: 0 0 1rem #000;
  }
}

#short-about {
  a {
    @include link-underline (colors.$dark-blue);
  }
}
/*------------------------------------------------*/
/*---------- Project Page - Memory Game ----------*/
/*------------------------------------------------*/
.code-nav {
  background-color: #444; // BG color for the nav in a Projects page that controls which code is displayed
  /*---------- Each individual link in the code nav is a "code-tab" ----------*/
  .code-tab {
    margin: 0 1rem 0 0;
    font-size: 1rem;
    color: colors.$white-ish;
    text-shadow: 0.1rem 0.1rem 0 #000;
    @include link-underline (colors.$white-ish); // Mixin to add the animated underline when hover...
    /*---------- When a code tab is clicked... ----------*/
    &.active {
      @include active-link-underline (colors.$white-ish); // Mixin to add an underline for the active code tab
    }
    /*---------- When a code tab is hover... ----------*/
    &:hover {
      color: colors.$white-ish;
    }
  }
}
/*---------- Grand-Parent container for all the code to be displayed ----------*/
.code-wrapper {
  height: 525px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  /*---------- Parent container for code to be displayed ----------*/
  .code-container {
    font-size: 0.85rem;

    & > div {
      display: none; // The initial state of any code snippet is to NOT be displayed
    }
  }
}
/*---------- Gist Styles ----------*/
body .gist .gist-file {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  font-family: fonts.$anonymous, monospace;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .blob-code {
  filter: hue-rotate(230deg) saturate(115%);
}

body .gist .highlight {
  background-color: transparent;
  font-family: fonts.$anonymous;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 0.5rem !important;
}

body .gist tr:last-child td {
  padding-bottom: 1rem !important;
}

body .gist .blob-num {
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}
// TO SEE CSS FOR THE SPECIFIC PROJECTS SEE '_memory-game.scss', '_roast-calc.scss' AND '_input-form.scss'!!!
/*-----------------------------------*/
/*---------- Footer Styles ----------*/
/*-----------------------------------*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: colors.$really-really-see-through-black;

  div {
    align-items: center;
  }

  .footer-links {
    font-size: 1.26rem;
    text-shadow: 0.05rem 0.05rem 0 #000;
    transition: text-shadow 0.5s ease;
  }
}

#f-email {
  color: colors.$dark-blue;
  @include link-underline (colors.$dark-blue); // Mixin to add the animated underline effect
}

#f-github {
  color: colors.$teal;
  @include link-underline (colors.$teal); // Mixin to add the animated underline effect
}

#f-codepen {
  color: colors.$orange;
  @include link-underline (colors.$orange); // Mixin to add the animated underline effect
}
//------------------------------------------//
//---------- Page Specific Styles ----------//
//------------------------------------------//
@include about;
@include memory-game;
@include roast-calc;
@include input-form;
/*---------------------------------------------*/
/*---------- Screen Break Formatting ----------*/
/*---------------------------------------------*/
@include global-screen-breaks;
@include memory-screen-breaks;
@include roast-screen-breaks;
