@use 'base'; // Global Styles
@use 'fonts'; // Google Fonts and Font-Variables
@use 'colors'; // Color Variables
@use 'memory-game'; // Memory-Game Specific CSS
@use 'roast-calc'; // Roast-Calc Specific CSS
@import 'mixins'; // Portfolio Card Mixin
@import 'screen-breaks'; // Screen Break Formatting Mixin
/*---------------------------------------*/
/*---------- Navigation Styles ----------*/
/*---------------------------------------*/
#nav-logo {
  margin-top: 0;
  color: colors.$dark-blue;
  font-size: 2rem;
  text-shadow: 0.07rem 0.07rem 0 #000;
  transition: text-shadow 0.5s ease;
  // On Hover...
  &:hover {
    text-shadow: 0.15rem 0.15rem 0 #000;
  }
}

.nav-link {
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  text-shadow: 0.05rem 0.05rem 0 #000;
}

#projects-nav {
  margin-right: 1.5rem;
  color: colors.$teal;
  @include link-underline (colors.$teal);

  &.active {
    @include active-link-underline (colors.$teal);
  }
}

#about-nav {
  color: colors.$orange;
  @include link-underline (colors.$orange);

  &.active {
    @include active-link-underline (colors.$orange);
  }
}

.navbar-toggler {
  border: none;
}
/*------------------------------------------*/
/*---------- Projects Body Styles ----------*/
/*------------------------------------------*/
.portfolio-card {
  height: auto;
  width: 100%;
  color: white;

  .overlay {
    height: auto;
    width: auto;
    z-index: 1;

    .overlay-link {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  p {
    padding-right: 20%;
  }

  .thumbnail {
    height: auto;
    width: 80%;
    margin-top: -7rem;
    bottom: -9rem;
    left: 10%;
    box-shadow: 0.5rem 0.5rem 0 #000, 1rem 1rem 2rem #000;
    transition: all 0.5s ease;
  }

  &:hover .thumbnail {
    bottom: -8rem;
  }
  // Individual Card Styles //
  &.memory-game {
    @include card-style ('memory');
  }

  &.roast-calc {
    @include card-style ('roast');
  }

  &.form {
    @include card-style ('form');
  }
  // Shadow at the bottom  of the card to add a 'pocket' effect...
  &:after {
    display: block;
    position: absolute;
    height: 1rem;
    width: 70%;
    bottom: -1rem;
    left: 15%;
    content: '';
    box-shadow: 0 0 1rem #000;
  }
}

#short-about {
  a {
    @include link-underline (colors.$dark-blue);
  }
}
/*---------------------------------------*/
/*---------- About Body Styles ----------*/
/*---------------------------------------*/
#about-intro {
  background-color: colors.$orange;

  h2,
  h3 {
    font-family: fonts.$anonymous;
    text-shadow: 0.125rem 0.125rem 0 #000;
    transition: all 0.5s ease;
  }

  h2 {
    top: 1.5rem;
    left: 10%;
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    top: -0.5rem;
    right: 15%;
    font-size: 4rem;
  }

  .thumbnail {
    bottom: -6rem;
    transition: all 0.5s ease;
  }

  &:hover {
    h2 {
      top: 1rem;
    }

    h3 {
      top: 5rem;
    }

    .thumbnail {
      bottom: -8rem;
      z-index: 1;
    }
  }
  // Overlay
  &::after {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    box-shadow: 0 0 1rem #000;
  }
}

#about-text-1 {
  @include paragraph-accent-line(colors.$dark-blue, "left", 0.1, 0.1);
}

#about-text-2 {
  @include paragraph-accent-line(colors.$yellow, "right", -0.1 , 0.1);
}

.about-table {
  position: relative;
  padding-inline-start: 0;

  .row {
    position: relative;
    margin: 3rem 0 0;
    padding: 0;
    justify-content: center;

    div {
      padding: 0;
    }
  }

  .job,
  .school {
    margin: 0;

    span {
      color: #999;
    }
  }

  .field,
  .location {
    font-family: fonts.$raleway;
    font-weight: 600;
    font-size: 0.9rem;
    color: #666;
  }

  .date,
  .gpa {
    text-align: right;
  }
}

* {
  // border: 1px solid red;
}
/*------------------------------------------------*/
/*---------- Project Page - Memory Game ----------*/
/*------------------------------------------------*/
.project-wrapper {
  @import "memory-game";
  @import "roast-calc";
}

.code-nav {
  background-color: #444;

  .code-tab {
    margin: 0 1rem 0 0;
    font-size: 1rem;
    color: colors.$white-ish;
    text-shadow: 0.1rem 0.1rem 0 #000;
    @include link-underline (colors.$white-ish);

    &.active {
      @include active-link-underline (colors.$white-ish);
    }

    &:hover {
      color: colors.$white-ish;
    }
  }
}

.code-wrapper {
  height: auto;
  max-height: 525px;
  overflow: auto;

  .code-container {
    font-size: 0.85rem;

    & > div {
      display: none;
    }
  }
}
// TO SEE CSS FOR THE SPECIFIC PROJECTS SEE '_memory-game.scss', '_roast-calc.scss' AND '_input-form.scss'!!!
/*-----------------------------------*/
/*---------- Footer Styles ----------*/
/*-----------------------------------*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: colors.$really-really-see-through-black;

  div {
    align-items: center;
  }

  .footer-links {
    font-size: 1.26rem;
    text-shadow: 0.05rem 0.05rem 0 #000;
    transition: text-shadow 0.5s ease;
  }
}

#f-email {
  color: colors.$dark-blue;
  @include link-underline (colors.$dark-blue);
}

#f-github {
  color: colors.$teal;
  @include link-underline (colors.$teal);
}

#f-codepen {
  color: colors.$orange;
  @include link-underline (colors.$orange);
}
/*---------------------------------------------*/
/*---------- Screen Break Formatting ----------*/
/*---------------------------------------------*/
@include screen-breaks;
